#portfolio-full {
  background: #ebeeee;
  padding: 40px 0;
}

#portfolio-full h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 0;
}
#portfolio-full h1 span {
  border-bottom: 6px solid #11ABB0;
  padding-bottom: 6px;
}